#!/bin/bash

### BEGIN INIT INFO
# Provides:          <%= @daemonname %>
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start <%= @daemonname %> at boot time
# Description:       Enable <%= @daemnoname %>
### END INIT INFO

DAEMON_PATH="<%= @daemonpath %>"
CONFIG_PATH="<%= @configpath %>"
DAEMON_NAME="<%= @daemonname %>"
PROPERTY_NAME="<%= @propertyname %>"
PID_PATTERN="<%= @pidpattern %>"
export KAFKA_HEAP_OPTS="<%= @heap_opts %>"
export KAFKA_OPTS="<%= @kafka_opts %>"

PATH=$PATH:$DAEMON_PATH

# See how we were called.
case "$1" in
  start)
    # Start daemon.
    echo "Starting $DAEMON_NAME";
    $DAEMON_PATH/$DAEMON_NAME-start -daemon $CONFIG_PATH/$PROPERTY_NAME
    exit $?
    ;;
  stop)
    # Stop daemons.
    echo "Shutting down $DAEMON_NAME";
    $DAEMON_PATH/$DAEMON_NAME-stop
    exit $?
  ;;
  restart)
    $0 stop
    sleep 2
    $0 start
    exit $?
  ;;
  status)
    pid=$(ps ax | grep java | grep -i "$PID_PATTERN" | awk '{print $1}')
    if [ -n "$pid" ]; then
      echo "$DAEMON_NAME is running as PID: $pid"
      exit 0
    else
      echo "$DAEMON_NAME is not running"
      exit 1
    fi
  ;;
  *)
    echo "Usage: $0 {start|stop|restart|status}"
    exit 1
esac

exit 1